<form name="myForm" method="post" action="/login_success">
    <div class="container">
    <div class="form-group">
        <br>

        <h2 class="text-center"> Login Form </h2>

        <label for="email">Enter Email name:</label>
        <input type="email" class="form-control" name="email" placeholder="Enter the Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>
    
    <div class="form-group">
      <label for="password">Enter Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter the Password">
    </div>
   
    <button type="submit" class="btn btn-danger">Submit</button>
    <br>
    <br>
</div>
  </form>